body{
    background-color: blanchedalmond;
    text-align: center;

}

/* Add a black background color to the top navigation */

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-evenly;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
 /* .topnav {
    margin : 10px;
  }*/

  .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    overflow: hidden;
  }
    
  .topnav line {
    display: inline;
  }
  
  .topnav a {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.3em;
    color: #596365;
  }
  
  .topnav a:hover {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.3em;
    color: #000;
  }



